body{
    background-color: gainsboro;
    margin: 0;
}
footer{
    /*display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5%;**/
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0px;
    
}
.footer-item{
    text-align: center;
    display: inline-block;
    width: 33%;
    
    background-color: rgb(0, 179, 60);
    color:white;
    font-size: 2vw;
}
.items-container{
    margin-top: 1%;
    position: relative;
    display:block;
    width:98%;
    left:1%;
   
    
    
}
.item{
    text-align: center;
    border: 0.1vw  solid;
    display: inline-grid;
    

    
    
}
.item-text{
    background-color: white;
    margin: 0;
    
    text-align: center;
    width: 100%;
    
    display: block;
    font-size:2vw;
    
}
.item-image{
     margin: 0 auto ;
            height: auto;
            max-width: 100%;
            border: none;
            display: block;
           
            
}
.search-bar{
    background-color: rgb(0, 179, 60);
    width:100%;
    display: block;
    margin-bottom: 1%;
    
    
    position: relative;
    vertical-align: middle;
}
.location-bar{
    background-color:rgb(0, 179, 60) ;
    width:96%;
    display: block;
    
    margin-bottom: 1%;
    
    position: relative;
    left:2%;
    vertical-align: middle;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
  font-size:2vw;
}
div.search-bar input  {
 position: absolute;
    
 
 border: 0;
background-color: inherit ;
background: :none;
 box-shadow: none;
 border-radius: 0px;
text-align: center;
    width:100%;
    
}
div.location-bar input  {
 position: absolute;
    width:100%;
    
 
 border: 0;
background-color: inherit ;
background: :none;
 box-shadow: none;
 border-radius: 0px;
text-align: center;
    font-size:0.85em;
    
}
#search-icon{
    background-color: inherit ;
    position: absolute;
    left:90%;
    top:10%;
}
#map-icon{
    background-color: inherit ;
    position: absolute;
    left:70%;
    top:10%;
}
.fa-map-marker-alt{
    font-size:1em;
}
@media (min-width:1101px){
    .items-container{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    
    
    grid-gap: 0.5%;
    margin-bottom: 3.5%;
    align-content: space-evenly;
    grid-auto-flow:row dense;
    } 
   
    
}
@media (max-width:1100px){
    .items-contianer{
        margin-bottom: 3.5%;
        display: block;
    }
    .item{
       display: inline-block;
        width:24%;
    }
    .footer-item{
        font-size: 4vw;
        width:32.5%;
    }
    .item-text{
        font-size:1.6em;
    }
    ::placeholder{
        font-size:1.8em;
    }
}
@media (max-width:600px){
    #map-icon{
        left:85%;
    }
    .items-container{
        display: block;
        margin-bottom: 1%;
    }
    .item{
        /*grid-template-columns: repeat(auto-fill,minmax(85px,1fr));**/
        display: inline-block;
        width:32%;
}
    .footer-item{
        font-size: 7vw;
        width:31%;
        
    }
}
@media (max-width:273px){
    .items-containter{
        display: block;
    }
    .item{
        display: block;
        width:90%;
    }
}